<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>
</fieldset>
<fieldset>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
</fieldset>

<h2>Add Kids</h2>

<div class="kids">
  <% f.fields_for :kids do |kid| %>
    <div class="kid">
      <fieldset>
        <%= kid.label :name %>
        <%= kid.text_field :name %>
      </fieldset>
      <fieldset>
        <%= kid.label :age %>
        <%= kid.number_field :age %>
      </fieldset>
      <fieldset>
        <%= kid.label :notes %>
        <%= kid.text_area :notes %>
      </fieldset>
      <br>
    </div>
  <% end %>
</div>
<%= button_tag "Add Kid", id: 'add-kid' %>
<%= f.submit %>

<script>
  // JS goes here
  // some useful regex /(\d+)/g
  // useful jquery clone(), append(), getAttribute(), setAttribute()
  // some more useful jquery each(), replace(), match()
</script>
